*{
	margin:0;
	padding:0;
}

body{
	background-color:black;
}

.menu{

	margin-left:14%;
	margin-top:2%;
	font-size:20px;
	width:70%;
	border:solid 1px #fff;
}


.menu ul{
	border:solid 1px #fff;
	display:flex;
	list-style:none;
	text-align:center;
}

.menu ul li{
	padding:16px;
	flex-grow:1;
	transition: background-color .2s linear;
	border: solid 2px transparent;
}

.menu ul li a{	
	color:#fff;
	text-decoration:none;
}

.menu ul li:hover{
	-moz-box-shadow:0 3px 10px 0 #CCC;  /* Efeito de sombra ao passar o mouse */
	-webkit-box-shadow:0 5px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; /* sombra do texto */
	border:solid 2px #fff;
	background-color:transparent; 
	cursor: pointer;
}

@media (max-width:520px){ /* Ao chegar nesse tamanho o menu se alinha um a baixo do outro */
	.menu ul{
		display:block;
	}
}


/* ------------------- menu -------------------- */

.cabecalho{
	justify-content:center; 
	margin-top:9%;
	color:white;
	font-size:45px;
	display:flex;
}


#Magic1 img{
	
	float:left;
    margin-top:-100px;
	width:400px;
	height:400px;
}

#Magic1{
	margin-left:2%;
	margin-right:2%;
	font-size:22px;
	margin-top:14%;
	justify-content:flex-end; /* alinha o conteudo sempre ao final do container */
	color:white;
	flex-wrap:wrap;
	
}

#Magic1 p{
	
	text-align:justify;
	
}

#Magic2 img{
	
	float:right;
    margin-top:-100px;
	width:400px;
	height:400px;
}

#Magic2{
	margin-left:2%;
	margin-right:2%;
	font-size:22px;
	margin-top:14%;
	justify-content:flex-end; /* alinha o conteudo sempre ao final do container */
	color:white;
	flex-wrap:wrap;
	
}

#Magic2 p{
	
	text-align:justify;
	
}

#Magic3 img{
	
	float:left;
    margin-top:-100px;
	width:400px;
	height:400px;
}

#Magic3{
	margin-left:2%;
	margin-right:2%;
	font-size:22px;
	margin-top:14%;
	justify-content:flex-end; /* alinha o conteudo sempre ao final do container */
	color:white;
	flex-wrap:wrap;
	
}

#Magic3 p{
	margin-top:300x;
	text-align:justify;
	
}

#Magic4{
	margin-left:2%;
	margin-right:2%;
	font-size:22px;
	margin-top:12%;
	justify-content: center; /* alinha o conteudo ao meio do container */
	color:white;
	flex-wrap:wrap;
	
}